<div>
  <div *ngIf="media?.mimetype === 'application/pdf' || media?.mimetype.startsWith('image/') ">
    <ngx-imageviewer [src]="media?.url" [width]="canvasWidth" [height]="canvasHeight"></ngx-imageviewer>
  </div>
 <div *ngIf="media?.mimetype === 'text/html'">
    <!-- <div [innerHTML]="theHtmlString"></div> -->
    <div class="col-centre">
      <iframe [src]="media?.url | safe"  height={{canvasHeight}} width={{canvasWidth}}>
        <p>Your browser does not support iframes.</p>
      </iframe>
  </div>
 </div>
 <div  class="col-centre" *ngIf="noMediaText !== ''">
    {{noMediaText}}
</div>
 <div class="col-centre">
  <button mat-button (click)="loadPrevDoc($event)" disabled ={{!enablePrevBtn}} >
    <mat-icon>first_page</mat-icon>
  </button>
  <button mat-button (click)="loadNextDoc($event)" disabled ={{!enableNextBtn}} >
    <mat-icon>last_page</mat-icon>
  </button>
</div>
</div>