<!-- <mat-tab-group>
  <mat-tab label="Images">
    <div style="display: flex">
      <div style="width: 100%;">
        <ngx-image-viewer [src]="images" [(index)]="imageIndexOne">
        </ngx-image-viewer>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Pdfs">
    <ngx-imageviewer [src]="pdfSrc" [width]="canvasWidth" [height]="canvasHeight"></ngx-imageviewer>
    <div>
      <div class="col-centre">
        <button mat-button (click)="loadPrevPdf()">
          <mat-icon>first_page</mat-icon>
        </button>
        <button mat-button (click)="loadNextPdf()">
          <mat-icon>last_page</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
   
  </mat-tab>
</mat-tab-group> -->
<!-- <div style="display: flex" *ngIf="media.mimeType === 'image'">
    <div style="width: 100%;">
      <ngx-image-viewer [src]="media.url" [(index)]="imageIndexOne">
      </ngx-image-viewer>
      
    </div>
  </div> -->
<div>
  <div *ngIf="media?.mime === 'application/pdf' || media?.mime === 'image/jgeg'">
    <ngx-imageviewer [src]="media?.imageUrl" [width]="canvasWidth" [height]="canvasHeight"></ngx-imageviewer>
  </div>
 <div *ngIf="media?.mime === 'text/html'">
    <!-- <div [innerHTML]="theHtmlString"></div> -->
    <div class="col-centre">
      <iframe [src]="media?.imageUrl | safe"  height={{canvasHeight}} width={{canvasWidth}}>
        <p>Your browser does not support iframes.</p>
      </iframe>
  </div>
 </div>
 <div  class="col-centre" *ngIf="noMediaText !== ''">
    {{noMediaText}}
</div>
 <div class="col-centre">
  <button mat-button (click)="loadPrevDoc()" disabled ={{!enablePrevBtn}} >
    <mat-icon>first_page</mat-icon>
  </button>
  <button mat-button (click)="loadNextDoc()" disabled ={{!enableNextBtn}} >
    <mat-icon>last_page</mat-icon>
  </button>
</div>
</div>